* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 1rem;
  --radius: 5px;
}

body {
  margin: 2rem;
  background-color: #b3e6f4;
  font-size: 0.9rem;
  color: black;
}

.btn {
  background-color: #25c198;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.bx {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bx.bx-folder {
  border: solid #25c198;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: absolute;
  width: 250px;
  height: 250px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: #141b2d;
  overflow: auto;
  visibility: hidden;
  opacity: 0.9;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown div {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #25c198;
}

.dropdown div:hover {
  background-color: var(--color);
  color: #2debb8;
}

.show {
  visibility: visible;
  opacity: 0.95;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(220deg);
  transition: 0.2s ease;
}
.container ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.container ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.container ::-webkit-scrollbar-thumb {
  background: #25c198;
  border-radius: 10px;
}

/* Handle on hover */
.container ::-webkit-scrollbar-thumb:hover {
  background: #2debb8;
}
